.timedownBlock{
 width: 500px;
}

.timedownElement {
  display: inline-block;
  margin-right: 4px;
}

.timedownElementValue {
	background: rgba(40,50,61,0.62);
	font-family: "Roboto",sans-serif;
	font-size: 70px;
	padding: 10px;
	color:white;
}

.timedownElementLabel {
	text-align: center;
	color: white;
	font-size: 18px;
}

.timedownElementSecondsValue {
    color: #e55182
}
